

.realtime-store-view
{
  .storeMap {
    display: inline-block;
    padding: 0px;
    margin: 10px;
    position: relative;
    border: 1px inset grey;

    img.store-image {
      max-width: 100%;
      max-height: 95vh;
    }

    .person-location-box {
      position: absolute;
      cursor: pointer;
    }

    .person-image-wrapper {
      border: 1px solid black;
      background: #dadada;
      opacity: 0.5;
    }

    #person-popover {
      width: 200px;
    }

    .visitor-id-block {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      height: fit-content;

      background-color: white;
      border: 1px solid grey;

      color: red;
      font-weight: bolder;
      text-align: center;
      font-size: 16px;
      opacity: 0.80;
    }
  }
}